.badge {

    &__blue {
        background-color: $my_blue !important;
    }

    &__green {
        background-color: $my_green !important;
    }

    &__red {
        background-color: $my_red !important;
    }

    &__dark {
        background-color: #999 !important;
    }

    &__black {
        background-color: $gray-600 !important;
    }

    &__second {
        background-color: $gray-400 !important;
    }

    &__yellow {
        background-color: $my_orange !important;
    }

    &__teal {
        background-color: $teal !important;
    }

    &__purple {
        background-color: $my_purple !important;
    }

    &__orange {
        background-color: $orange !important;
    }

    &__light {
        background-color: $gray-300 !important;
    }

    &__lighter {
        background-color: var(--bs-light) !important;
    }

    &__darkOrange {
        background-color: $darkOrange !important;
    }

    &__cyan {
        background-color: #0dcaf0 !important;
    }

    &__comment {
        background-color: #68b0b3 !important;
    }

    &__author {
        background-color: transparent !important;
        color: #777 !important;
        /*font-size: 1rem !important;*/
    }

}

a.my_badge, .my_badge {
    color: white !important;
    font-size: 0.8rem !important;
}

.bg_myblue {
    color:  #fff !important;
    background-color: $my_blue;
}
