/* Customize Login Screen */

body.login .button-primary {
    background-color: #0693e3;
    border: 0;
  }

body.login .button-primary:active,
body.login .button-primary:focus,
body.login .button-primary:hover {
    background-color: #54aeff;
    border: 0;
}

body.login {
    /* background-color: #dedede; */
    background-image: url('../img/tile.jpg') !important;
}

h1.login {
    margin-top: 5rem !important;
}
h1.login a {
    /* margin-top: 6rem; */
    color: #0d3b66;
    font-size: 2.5rem;
    font-weight: 600;
    background-image: none;
    width: auto;
    height: auto;
    text-indent: 0;
}

h1.login a {
    pointer-events: none; /* 클릭 이벤트 비활성화 */
    text-decoration: none; /* 밑줄 제거 */
    cursor: default; /* 포인터 모양 변경 */
}

#login {
    padding: 0 !important;
}
#login > h1 {
    display: none !important;
}

.language-switcher, p#reg_passmail, p#backtoblog {
    display: none !important;
}

#login textarea::placeholder {
    padding: 10px !important;
}

.login #nav {
    visibility: hidden !important;
    margin: 0 !important;
    margin-top: 10px !important;
    text-align: center !important;
}

#nav a:nth-child(1) {
    visibility: visible;
    font-size: 1rem;
    float: left ;
}

